In [32]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [33]:
train_data = pd.read_excel("data.xlsx")

In [34]:
print(train_data)

      PD        P1        P2        P3        P4        P5        P6  PL(%)
0    450   24.3220   16.1374   80.5476   81.4307  130.0000  125.0000  1.654
1    500   33.2868   26.8715   89.9276   90.4990  135.5645  132.7837  1.787
2    550   40.4125   35.4319   97.4055   97.7209  146.2139  143.5136  1.947
3    600   47.7130   44.2851  104.8770  104.9221  156.7143  154.1298  2.107
4    650   54.9070   52.9637  112.4122  112.1889  167.4006  164.8834  2.271
5    700   62.1192   61.6906  119.9870  119.4870  178.1187  175.6631  2.437
6    750   69.3430   70.4586  127.5951  126.8102  188.8590  186.4593  2.604
7    800   76.5853   79.2762  135.2438  134.1653  199.6315  197.2820  2.774
8    850   83.8447   88.1423  142.9323  141.5513  210.4345  208.1293  2.945
9    900   92.3427   98.4066  150.2081  148.5717  220.3319  218.1497  3.112
10   950   99.7516  107.4618  157.9220  155.9783  231.1310  228.9741  3.286
11  1000  107.1771  116.5671  165.6762  163.4162  241.9604  239.8226  3.461
12  1050  114.6157  125.7183  173.4674  170.8820  252.8148  250.6899  3.637

In [35]:
x = train_data.iloc[:,0]
x

0      450
1      500
2      550
3      600
4      650
5      700
6      750
7      800
8      850
9      900
10     950
11    1000
12    1050
Name: PD, dtype: int64

In [36]:
Y = train_data.iloc[:,1:]
Y

          P1        P2        P3        P4        P5        P6  PL(%)
0    24.3220   16.1374   80.5476   81.4307  130.0000  125.0000  1.654
1    33.2868   26.8715   89.9276   90.4990  135.5645  132.7837  1.787
2    40.4125   35.4319   97.4055   97.7209  146.2139  143.5136  1.947
3    47.7130   44.2851  104.8770  104.9221  156.7143  154.1298  2.107
4    54.9070   52.9637  112.4122  112.1889  167.4006  164.8834  2.271
5    62.1192   61.6906  119.9870  119.4870  178.1187  175.6631  2.437
6    69.3430   70.4586  127.5951  126.8102  188.8590  186.4593  2.604
7    76.5853   79.2762  135.2438  134.1653  199.6315  197.2820  2.774
8    83.8447   88.1423  142.9323  141.5513  210.4345  208.1293  2.945
9    92.3427   98.4066  150.2081  148.5717  220.3319  218.1497  3.112
10   99.7516  107.4618  157.9220  155.9783  231.1310  228.9741  3.286
11  107.1771  116.5671  165.6762  163.4162  241.9604  239.8226  3.461
12  114.6157  125.7183  173.4674  170.8820  252.8148  250.6899  3.637

In [37]:
X_train, X_test, y_train, y_test = train_test_split(x, Y, test_size=0.33, random_state=42)

In [38]:
print(X_train)
print(X_test)
print(y_train)
print(y_test)

2      550
1      500
12    1050
4      650
7      800
10     950
3      600
6      750
Name: PD, dtype: int64
11    1000
9      900
0      450
8      850
5      700
Name: PD, dtype: int64
          P1        P2        P3        P4        P5        P6  PL(%)
2    40.4125   35.4319   97.4055   97.7209  146.2139  143.5136  1.947
1    33.2868   26.8715   89.9276   90.4990  135.5645  132.7837  1.787
12  114.6157  125.7183  173.4674  170.8820  252.8148  250.6899  3.637
4    54.9070   52.9637  112.4122  112.1889  167.4006  164.8834  2.271
7    76.5853   79.2762  135.2438  134.1653  199.6315  197.2820  2.774
10   99.7516  107.4618  157.9220  155.9783  231.1310  228.9741  3.286
3    47.7130   44.2851  104.8770  104.9221  156.7143  154.1298  2.107
6    69.3430   70.4586  127.5951  126.8102  188.8590  186.4593  2.604
          P1        P2        P3        P4        P5        P6  PL(%)
11  107.1771  116.5671  165.6762  163.4162  241.9604  239.8226  3.461
9    92.3427   98.4066  150.2081  148.5717  220.3319  218.1497  3.112
0    24.3220   16.1374   80.5476   81.4307  130.0000  125.0000  1.654
8    83.8447   88.1423  142.9323  141.5513  210.4345  208.1293  2.945
5    62.1192   61.6906  119.9870  119.4870  178.1187  175.6631  2.437

In [39]:
import torch
from torchvision import datasets, transforms
import helper

In [40]:
transform = transforms.Compose([transforms.ToTensor(),
                                transforms.Normalize((0.5, 0.5, 0.5), (0.5, 0.5, 0.5))])
# Download and load the training data
trainset = train_data
trainloader = torch.utils.data.DataLoader(trainset, batch_size=64, shuffle=True)

In [41]:
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

import matplotlib.pyplot as plt
import numpy as np
import time

import torch
from torch import nn
from torch import optim
import torch.nn.functional as F
from torchvision import datasets, transforms

import helper
import model

In [42]:
# Create the network, define the criterion and optimizer

model = model.Network(1, 6, [8, 32], drop_p=0.5)
criterion = nn.NLLLoss()
optimizer = optim.Adam(model.parameters(), lr=0.001)

In [ ]:
epochs = 2
steps = 0
running_loss = 0
print_every = 40
for e in range(epochs):
    model.train()
    for images, labels in trainloader:
        steps += 1
        
       
        optimizer.zero_grad()
        
        output = model.forward(images)
        loss = criterion(output, labels)
        loss.backward()
        optimizer.step()
        
        running_loss += loss.item()
        
        if steps % print_every == 0:
            # Make sure network is in eval mode for inference
            model.eval()
            
            # Turn off gradients for validation, saves memory and computations
            with torch.no_grad():
                test_loss, accuracy = validation(model, testloader, criterion)
                
            print("Epoch: {}/{}.. ".format(e+1, epochs),
                  "Training Loss: {:.3f}.. ".format(running_loss/print_every),
                  "Test Loss: {:.3f}.. ".format(test_loss/len(testloader)),
                  "Test Accuracy: {:.3f}".format(accuracy/len(testloader)))
            
            running_loss = 0
            
            # Make sure training is back on
            model.train()